# Node & React
node_modules/
dist/
dist-ssr/
*.local

# Python & FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Storage & Temporary Vector DB / Files
backend/storage/raw_docs/*
!backend/storage/raw_docs/.gitkeep
backend/storage/vector_db/*
!backend/storage/vector_db/.gitkeep

# IDE & Logs
.vscode/
.idea/
*.log
.DS_Store
