fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-core
langchain-openai
chromadb
pydantic
python-dotenv
openai
boto3
supabase
pypdf
PyPDF2
python-docx
docx2txt
langchain-google-genai
google-generativeai